@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->
<!--================ Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
                <div class="container">
                    <div class="banner_content">
                        <h2>Feeding The People </h2><br />
                        <h3>Building The Nation</h3>

                    </div>
                </div>
            </div>
        </section>
        <!--================ End Home Banner Area =================-->
        <!--================ Start About Us Area =================-->
        <section class="section_gap" id="about-us">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="offset-lg-0 col-lg-7 col-md-7">
                        <h2 class="title mb-20">Opabid Farms Limited</h2>
                            <p>
                                Opabid Farm Limited (OFL) is a community interest company organization (your neighborhood farm). Our goal is producing fresh, healthy and affordable staple food item for everyone.
                            </p>
                            <p>
                                We believe in creating an end to end stroy about every ingredient on your plate, every meal time of the day. We pride ourselves in the use of scalable and affordable technologies in achieving our set objectives.
                            </p>
                            <p>
                                OFL set out to create a sustainable enterprise that focus on feeding the people. We believe that no man should go hungry.
                            </p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-10">
                        <img class="img-fluid" style="" src="/img/about/about.jpg" alt="">
                        </div>
                </div>
            </div>
        </section>
        <!--================ End About us Area =================-->

        <!--================ Start What we do Area =================-->
        <section class="doings_area">
            <div class="container">
                <div class="main_title">
                    <h2 class="title"><span>What Do</span> We Do?</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single_doings">
                            <img src="~/img/doings/c1.jpg" alt="">
                            <h4>Fruits & Vegetables</h4>
                            <p>
                                Intiam eu sagittis est, aster cosmo lacini libero. Praesent dignissim sed odio velo aliquam manta legolas.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single_doings">
                            <h4>Milk & Cheese</h4>
                            <img src="~/img/doings/c1.jpg" alt="">
                            <p>
                                Intiam eu sagittis est, aster cosmo lacini libero. Praesent dignissim sed odio velo aliquam manta legolas.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single_doings">
                            <h4>Rice & Corn</h4>
                            <img src="~/img/doings/c1.jpg" alt="">
                            <p>
                                Intiam eu sagittis est, aster cosmo lacini libero. Praesent dignissim sed odio velo aliquam manta legolas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--================ End What we do Area =================-->

        <!--================ Start Products section =================-->
        <section class="products" id="products">
            <div class="container">
                <div class="main_title">
                    <h2 class="title"><span>Our Product</span> Are Of High Quality</h2>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <figure>
                                    <img class="card-img-top img-fluid" src="~/img/produce/p1.jpg" alt="Card image cap">
                                </figure>
                                <div class="card_inner_body">
                                    <h4 class="card-title">Strawberry</h4>
                                    <div class="d-flex justify-content-between donation align-items-center">
                                        <a href="" class="primary_btn">buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <figure>
                                    <img class="card-img-top img-fluid" src="~/img/produce/p2.jpg" alt="Card image cap">
                                </figure>
                                <div class="card_inner_body">
                                    <h4 class="card-title">Baked Breads</h4>
                                    <div class="d-flex justify-content-between donation align-items-center">
                                        <a href="" class="primary_btn">buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <figure>
                                    <img class="card-img-top img-fluid" src="~/img/produce/p3.jpg" alt="Card image cap">
                                </figure>
                                <div class="card_inner_body">
                                    <h4 class="card-title">Prime Beef</h4>
                                    <div class="d-flex justify-content-between donation align-items-center">
                                        <a href="" class="primary_btn">buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <figure>
                                    <img class="card-img-top img-fluid" src="~/img/produce/p4.jpg" alt="Card image cap">
                                </figure>
                                <div class="card_inner_body">
                                    <h4 class="card-title">Pure Honey</h4>
                                    <div class="d-flex justify-content-between donation align-items-center">
                                        <a href="" class="primary_btn">buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--================ End Products section =================-->

        <!--================ Start Meet Us Area =================-->
        <section class="ftco-section-3
                 img" id="contact-us" style="background-image: url(/img/8.jpg); -ms-background-size: cover; background-size: cover;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex">
                    <div class="col-md-6 d-flex ftco-animate">
                        <div class="img img-2 align-self-stretch" style="background-image: url(/img/9.jpg)">
                            </div>
                    </div>
                    <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                        <h3 class="heading mb-3">Send us a message</h3>
                        <form action="" class="volunter-form" method="POST" novalidate="nonvalidate">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" class="btn yellow_btn">SEND MESSAGE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Meet Us Area =================-->












