@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->

<body>
<!--================ Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <h2>Feeding The People </h2><br />
                <h3>Building The Nation</h3>
                   
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->


<!--================ Start About Us Area =================-->
<section class="section_gap" id="about-us">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="offset-lg-0 col-lg-7 col-md-7">
                <div class="condition-left">
                    <h2 class="mb-20">Opabid Farms Limited</h2>
                    <p>
                        Opabid Farm Limited (OFL) is a community interest company organization (your neighborhood farm). Our goal is producing fresh, healthy and affordable staple food item for everyone.
                    </p>
                    <p>
                        We believe in creating an end to end stroy about every ingredient on your plate, every meal time of the day. We pride ourselves in the use of scalable and affordable technologies in achieving our set objectives.
                    </p>
                    <p>
                        OFL set out to create a sustainable enterprise that focus on feeding the people. We believe that no man should go hungry.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10">
                <div class="condition-right">
                    <img class="img-fluid" style="" src="/img/about/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About us Area =================-->














</body>